@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme inline {
  --font-sans: var(--font-mulish), ui-sans-serif, system-ui, -apple-system, sans-serif;
}
